{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}
<div class="container-fluid home" style="{{#if index.backgroundImg}}background-image:url('{{index.backgroundImg.url}}'){{else}}background:{{index.backgroundClr}}{{/if}}">
	<div class="row intro">
		{{{index.intro.html}}}	
	</div>
</div> <!-- .container-fluid -->