[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
boto3 = "*"
django-storages = "*"
python-dotenv = "*"
gunicorn = "*"
django-cors-headers = "*"
psycopg2 = "*"
pillow = "*"
djangorestframework = "*"
whitenoise = "*"
django-webpack-loader = "*"

[dev-packages]

[requires]
python_version = "3.9"
