@import '../../../styles/variables.scss';

.pixelBlocks {
	display: flex;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: absolute;
	background-color: $main-font-color;
	z-index: 1;
	top: 0;
	left: 0;

	.column {
		width: 5vw;
		height: 100%;

		.block {
			height: 5vw;
			width: 100%;
			background-color: $main-font-color;
			opacity: 1;
		}
	}
}