@import './variables.scss';


$theme-colors: (
  "dark": $main-font-color
);

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    background: $main-bg-color;
    color: $main-font-color;
    font-family: 'Open Sans', sans-serif;
		margin: 0px;
}

h1, h2, a, .Typewriter {
    font-family: 'Source Code Pro', monospace;
}

html, body, main, .container, #app{
    height: 100%;
    min-height: 100%;
		overflow: auto;
}

section {
    height: calc(100% - 20px);
    min-height: calc(100% - 20px);
}

// .main-nav {
//     width: 100%;
//     margin: auto;
// }

.navbar-light .navbar-nav .nav-link {
    font-size: 1.5em;
    border-bottom: 3px solid $main-bg-color;
    // text-decoration: underline $main-bg-color;
    transition: border-color 300ms;

    &.selected {
        // text-decoration: underline $main-font-color;
        border-bottom: 3px solid $main-font-color;
        color: $main-font-color;
        transition: border-color 300ms;
    }
}

.project-container {
    padding-top: 3em;
}

// Handles New lines in database text paragraphs
p {
    white-space: pre-line;
}

.full-screen {
    flex: 1 1 auto;
    flex-direction: column;
    height: calc(100vh - 180px);
    margin-bottom: 10%;
}

// Typing cursor on the home page
.typing-cursor {
    font-size: 2em;
}

// From React Typist Examples
.flash {
    font-weight: bold;

    animation-name: blinker;
    animation-duration: 0.95s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    @keyframes blinker {
        25% { opacity: 1.0; }
        30% { opacity: 0.0; }
        70% { opacity: 0.0; }
        75% { opacity: 1.0; }
    }
}

// Bootstrap Badge overrides
.badge {
    // Alters sizing so it's more square
    padding: 0.4em 0.8em;

    * {
        color: white;
    }

    a {
        font-size: 1.25em;
        &:hover, &:hover * {
            color: $main-bg-color;
            text-decoration: none;
        }
    }
}

