@import './variables.scss';
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu+Mono:wght@400;700&display=swap');

body {
    background: $main-bg-color;
    color: $main-font-color;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, a {
    font-family: 'Ubuntu Mono', monospace;
}

html, body, main, .container, #app{
    height: 100%;
    min-height: 100%;
}

section {
    height: calc(100% - 20px);
    min-height: calc(100% - 20px);
}

.main-nav {
    width: fit-content;
    margin: auto;
}

.nav-link {
    font-size: 1.5em;
}

// Handles New lines in database text paragraphs
p {
    white-space: pre-line;
}

.full-screen {
    flex: 1 1 auto;
    flex-direction: column;
    height: calc(100vh - 180px);
    margin-bottom: 10%;
}

// Typing cursor on the home page
.typing-cursor {
    font-size: 2em;
}

// From React Typist Examples
.flash {
    font-weight: bold;

    animation-name: blinker;
    animation-duration: 0.95s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    @keyframes blinker {
        25% { opacity: 1.0; }
        30% { opacity: 0.0; }
        70% { opacity: 0.0; }
        75% { opacity: 1.0; }
    }
}

// Bootstrap Badge overrides
.badge {
    // Alters sizing so it's more square
    padding: 0.4em 0.8em;

    * {
        color: $link-color;
    }

    a {
        font-size: 1.25em;
        &:hover {
            color: $link-hover;
        }
    }
}
