@import '../../../styles/variables.scss';

.filterButton {
	color: white;
	align-self: start;
	&.show > button {
		background-color: $main-font-color !important; 
	}
	> button {
		&:active, &:focus, &:hover {
			background-color: $orange-dark;
		}
		background-color: $orange !important;
	}
}

.categoryButtonContainer {
	min-height: 40vh;

	h2 {
		font-size: 5rem;
		font-weight: 700;
	}

	button {
		height: fit-content;
		span {
			font-size: 1.5rem;
		}
	}
}