@import '../../../styles/variables.scss';

.seeMoreTextButton {
	background: transparent;
	color: $main-font-color;
	border: none;
	padding: 0;
	width: fit-content;
	
	&:hover, &:focus, &:active {
		color: $main-font-color;
		text-decoration: underline;
	}
}