@import '../../../styles/variables.scss';

.projectContainer {
	&:nth-child(1n) {
		background-color: $peachy-lite;
	}
	&:nth-child(2n) {
		background-color: $main-color;
	}
	&:nth-child(3n) {
		background-color: lighten($orange, 10%);
	}
	.projectTitle {
		font-size: 3rem;
		line-height: 3rem;
	}
	.imageSection {
		@media (max-width: 992px) {
			min-height: auto !important;
		}
	}
}

.seeMoreLink {
	font-size: 1em;
	a {
		color: white;
	}
}