
.projectContainer {
	height: fit-content;
	display: relative;
	background: white;
	width: 100%;
	border-radius: 20px;
	margin: 40px auto; 
	box-shadow:
		0px 1px 1px hsl(0deg 0% 0% / 0.05),
		0px 2px 2px hsl(0deg 0% 0% / 0.05),
		0px 4px 4px hsl(0deg 0% 0% / 0.05),
		0px 8px 8px hsl(0deg 0% 0% / 0.05),
		0px 16px 16px hsl(0deg 0% 0% / 0.05)
	;
}

.seeMoreLink {
	font-size: 1em;
	a {
		color: white;
	}
}