@import '../../../styles/variables.scss';

.projectContainer {
	&:nth-child(3n + 1) {
		background-color: $peachy-lite;
	}
	&:nth-child(3n + 2) {
		background-color: $main-color;
	}
	&:nth-child(3n + 3) {
		background-color: lighten($orange, 10%);
	}
	.projectTitle {
		font-size: 3rem;
		line-height: 3rem;
	}
	.imageSection {
		@media (max-width: 992px) {
			min-height: auto !important;
		}
	}
}

.seeMoreLink {
	font-size: 1em;
	border: 0px;

	&:hover, &:focus {
		border: 0px;
	}
	a {
		color: white;
	}
}