
.arcadeBox {
	background-color: red;
	display: grid;
	grid-template-areas: 
		"top"
		"screen"
		"controls"
		"bottom";

	width: 30vw;

	> * {
		border: 2px solid grey;
	}

	.top {
		height: 10px;
		grid-area: top;
	}
	
	.screen {
		grid-area: screen;
	}

	.controls {
		grid-area: controls;
	}

	.bottom {
		grid-area: bottom;
	}
}