@import '../../../styles/variables.scss';

.homeBanner 
{
	font-size: 5rem;
}

.terminal {
	height: 60%;
	margin: 0 auto;
	width: 90%;
	min-height: calc(0.8 * $section-height);

	border-radius: 1.5rem;
	border: 3px solid $dark-grey;
	box-shadow: 5px 5px 20px 3px grey;

	.appBar {
		height: 20%;
		border-radius: 1.5rem 1.5rem 0 0;
		border-bottom: 3px solid $dark-grey;
		// background-color: #312f35;
		background-color: lighten($black-ish, 5%);
		position: relative;

		.appBarButton {
			height: 40%;
			width: auto;
			aspect-ratio: 1;
			position: absolute;
			top: 30%;
			transform: translateX(80%);
			border-radius: 50%;
			
			background-color: #FF605C;
		}
	}
}

.typewriter, .Typewriter
{
	margin-left: 1rem;
	font-size: 1.75rem;
	font-family: 'Source Code Pro', monospace;
	font-weight: 600;
	color: $link-hover;
}

