<!DOCTYPE html>
{% load render_bundle from webpack_loader %}
<html>
  <head>
    <title>Eron Salling Portfolio</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Game development, civic design, and research based applications"/>
    <meta property='og:title' content='Eron Salling Portfolio Website'/>
    <meta property='og:image' content='https://eron-portfolio.s3.amazonaws.com/Eron+Headshot+Big'/>
    <meta property='og:description' content="Game development, civic design, and research based applications."/>
    <meta property='og:url' content='https://eronsalling.me'/>
    <!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% render_bundle 'main' 'css' %}
  </head>
  <body>
    <div id="app"></div>
  </body>

  {% render_bundle 'main' 'js' %}
</html>
