.pill {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  margin: 0.5rem;
	height: 3rem;

	&:hover {
		cursor: default;
	}
}

.pillContainer {
  display: flex;
  justify-content: start;
	align-content: start;
  flex-wrap: wrap;
}

button.btn.groupButton {
	border-radius: 0px;
	border: 3px;
	box-shadow: none;

	&.active {
		border: none;
		box-shadow: none;
	}
}
