@import "core/variables";
@import "core/mixins";
@import "core/functions";
@import "core/fonts";

// Use for any elements hidden initilly
.hidden {
	visibility: hidden;
}

// Body
.body, html {
	height:100%;
	width: 100%;
	color: $theme-text;
	font-family: 'Bree Serif', serif;
	overflow: auto;
}

.page-wrapper, #wrapper, .home, .porfolio, .about {
	height: 100%;
	width: 100%;
	overflow: auto;
}

.home, .porfolio, .about {
	padding: 40px;
	padding-top: 80px;

}

.container-fluid {

}

.desktop-only {
	// Hide for mobile
	@include mobile-only {
		display: none;
	}
}
.mobile-only {
	// Hide for desktop
	@include desktop-and-up {
		display: none;
	}
}
.buffer {
		margin-top: 5%;	
}

// Button Styles
.theme-btn {
	color: $theme-black;
	background-color: $theme-creme;

	&:hover, &:focus {
		color: $theme-red;
		background-color: $theme-creme;
		border: 1px solid $theme-red;
	}
}

button, .btn, input, .theme-btn {
	&:hover, &:focus, &:active {
		box-shadow: none;
		outline: 0px;
	}
}

// Navigation
.menu-icon {

	&.light {
		div {
		    background-color: $theme-creme;
		    @include transition(all, 0.5s);
		}
		&:hover, &:focus {
			div {
			    background-color: $theme-red;
			}
		}
	}
	&.dark {
		div {
		    background-color: $theme-red;
		    @include transition(all, 0.5s);
		}
		&:hover, &:focus {
			div {
			    background-color: $theme-black;
			}
		}
	}
	div {
	    width: 35px;
	    height: 5px;
	    margin: 6px 0;
	}
	

	
}

#menu-toggle {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	padding-left: 15px;
	padding-top: 10px;
	z-index: 100000;

	&.solid {
		background-color: $theme-black;
	}
}

#sidebar-wrapper {
	position: absolute;
	right: 100%;
	height:100%;
	width:100%;
	z-index: 50000;
	background-color: $theme-black;

	.sidebar-nav {
		list-style-type: none;
		padding: 0px;
		width: 100%;

		li {
			text-align: center;
			width: 100%;
			

			a {
				display: block;
				color: $theme-creme;
				font-size: 26px;
				margin: 20px auto;
				@include transition(all, 0.5s);

				&:hover, &:focus {
					color: $theme-red;
					text-decoration: none;
				}
			}
		}
	}
}

// Home Page
.home {
	padding: 40px;
	height:100%;
	width:100%;
	background-size: auto 100%;
	background-position: center;


	.intro {

		margin: 80px;

	}

}

// About Page
.about {
	background-color: $theme-black;
	color: $theme-creme;

	.intro {
		p {
			font-size: 20px;
		}
	}

	.social-links {

		padding: 0px;
		padding-left: 20px;
		list-style-type: none;

		li {

			a {
				display: block;
				color: $theme-creme;
				font-size:16px;
				margin: 0px auto;
				margin-bottom: 20px;
				@include transition(all, 0.5s);

				&:hover, &:focus {
					color: $theme-red;
					text-decoration: none;
				}
			}
		}

	}

}

// Portfolio 

.porfolio {
	background-color: $theme-black;
	color: $theme-creme;

	.tag-row {
		margin: 20px 0px;
	}

	.tag {
		height: 40px;
		width: auto;
		padding: 2px 16px;
		margin: 4px;
		line-height: 26px;
		border-radius: 0px;
		background: $theme-creme;
		color: $theme-black;

		&:hover, &:focus, &:active {
			box-shadow: none;
			border: 0px;
			outline: 0px;
		}

		&:hover, &.is-checked {
			background: $theme-creme;
			color: $theme-red;
			line-height: 24px;
			border: 1px solid $theme-red;
		}
	}

	#project-grid {
		height: 100%;
		width: 100%;
		position: relative;
		margin: 0px;
	}

	.project-item {
		height: 300px;
		width: 300px;
		max-width: 100%;
		margin-top: 5px;
		margin-bottom: 5px;
		padding: 0px; 

	    background-color: $theme-black;
	    border: 1px solid $theme-red;
	    color: $theme-red;
	    position: relative;
	    @include transition(all, 0.5s);

	    img {
	    	height: 300px;
	    	width: 300px;
	    	max-width: 100%;
	    	margin: 0 auto;
	    }

		button {
			font-size: 14px;
		    height: 30px;
		    line-height: 20px;
		    padding: 4px 16px;

		    &:hover, &:focus {
		    	line-height: 18px;
		    	outline: none;

		    }
		}

	    .project-info {
	    	height: 300px;
	    	width: 300px;
	    	max-width: 100%;
	    	position: absolute;
	    	padding: 40px;
	    	opacity:0;
	    	bottom: -1px;
	    	left: -1px;
	    	background-color: $theme-creme;
	    	border: 1px solid $theme-red;
	    	@include transition(all, 0.2s);
	    }

	    &:hover, &:focus {
	    	.project-info {
	    		opacity: 1;
	    	}
	    }
	}
}


// Media 

@media(max-width: 767px) {

	.home {
		padding: 40px 0px;

		.intro {
			margin: 80px 40px;
		}
	}

	.about {
		
		.social-links {
			padding: 0px;
			margin-top: 80px;
			li {
				display: inline-block;
				margin-right: 40px;
			}
			a {
				
			}
		}
	}

}

@media(max-width: 381px) {

	.porfolio {
		.project-item {
			height: auto !important;

			img {
				height: auto !important;
			}

			.project-info {
				padding: 4px;
				padding-left: 8px;
				h3 {
					margin: 4px;
					font-size: 16px;
				}
				p {
					padding: 4px;
					margin: 0px;
					font-size: 12px;
					line-height: 1;
				}
			}

			button {
				font-size: 10px;
			    height: 21px;
			    line-height: 20px;
			    padding: 0px 8px;

			    &:hover, &:focus {
			    	line-height: 18px;
			    }
			}
		}
	}

	
	.about {
		
		.social-links {
			li {
				display: inline-block;
				margin-right: 20px;
			}
			a {
				
			}
		}
	}
}