@import '../../../styles/variables.scss';

.navHeader {
	z-index: 1000;
	font-size: 2rem;
	font-weight: 700;
	height: $navbar-height;
	text-decoration: none;
	
	.nav {
		min-width: fit-content;
		max-width: 100%;
		justify-content: space-evenly;
	}

	a {
		color: $link-color;
		transition: color 200ms;
		border: 0;

		&:hover, &:focus, &:focus-visible {
			color: $link-hover;
			border: 0;
			outline: 0;
			transition: color 200ms;
		}

		&.selected {
			border-bottom: 3px solid $link-hover;
			transition: border-color 200ms;
			color: $link-hover;
			transition: color 200ms;
		}
	}
}

