@import '../../../styles/variables.scss';
.loaderContainer {
	height: 100%;
	width: 100%;
}

.pixelBlocks {
	display: flex;
	height: 100vh;
	width: 200vw;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $main-font-color;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;

	.block {
		height: 5vw;
		width: 5vw;

		margin: 0px 5vw;

		background-color: $main-bg-color;
	}
}